In [1]:
import pandas as pd

In [2]:
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35